.chat-window {
  width: 390px;
  height: 844px;
}

.chat-window p {
  margin: 0;
}

.chat-select {
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-select .chat-select-header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-bottom: #0000001f 1px solid;
}

.chat-select .chat-select-header input {
  width: 80%;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #0000001f;
  background-color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.chat-select .chat-select-body {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

.chat-select .chat-select-body .chat-select-container {
  width: 100%;
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-select .chat-select-body .chat-select-container .chat-select-item {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #0000001f 1px solid;
  border-bottom: #0000001f 1px solid;
}

.chat-select .chat-select-body .chat-select-container .chat-select-item .chat-select-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.chat-select .chat-select-body .chat-select-container .chat-select-item .chat-select-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #000000;
}

.chat-select .chat-select-body .chat-select-container .chat-select-item .chat-select-last-message {
  font-size: 1em;
  font-weight: 400;
  color: #000000;
}

.chat-select .chat-select-footer {
  width: 100%;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top:#0000001f 1px solid;
}

.chat-select .chat-select-footer button {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
  color: #000000;
}

.chat-window .chat-header {
  height: 145px;
  border-radius: 6px;
  background-color: #F2F2F2;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 1em;
  color: #ffffff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: 553px;
  border: 1px solid #ffffff;
  background-color: #F2F2F2;
  border-top: 1px solid #0000001f;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  right: 100px;
  height: auto;
  padding: 20px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 280px;
  background-color: #DAEFE9;
  border-radius: 5px;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 8px 12px 6px;
  overflow-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 4px 20px -5.71709px #00000026;
  font-family: "Roboto", sans-serif;
}

.chat-window .chat-body .message .message-content #message {
  font-size: 12px;
  display: flex;
  color: #000000;
}

.chat-window .chat-body .message .message-content #author {
  font-size: 6px;
  display: flex;
  font-weight: bold;
  color: #B4B4B4;
}

.chat-window .chat-footer {
  height: 7%;
  width: 90%;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 0 4px 20px -5.71709px #00000026;
  right: 10px;
  left: 10px;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 70%;
  font-size: 1em;
  color:#000000;
  outline: none;
  font-family: "Open Sans", sans-serif;
  padding-left: 3%;
  padding-right: 3%;
}

.chat-window .chat-footer button {
  place-items: center;
  cursor: pointer;
  width: 11%;
  height: 100%;
  outline: none;
  font-size: 25px;
  display: inline-block;
}

.chat-window .chat-footer .messagebutton {
  background-color: #F5F7FB;
  border-radius: 20%;
}

.chat-window .chat-footer .imagebutton {
  background-color: #F5F7FB;
  border-radius: 50%;
}

.hide {
  opacity: 0 !important;
}